.DetallesNoticia{
    padding-bottom:10%;
    #noticia{
        padding:1%;
    }
    #mfoto{
    text-align: center;
        img{
        
            margin:auto;
            max-width: 50%;
            height: auto;
            padding:1%
        }
    }
    
}